.bar {
    margin-bottom: 10px;
}

.operate-bar .btn {
    /*margin-right: 5px;*/
}

.control-auth {
    display: none;
}

/* 图片上传功能模块 */
.uploadPic{position:relative; float:left; margin-right:15px;}
.uploadPic_btn_box{position:absolute; top:0; left:0; width:100%; height:100%; padding-top:3%; background:rgba(0,0,0,0.4); text-align:right; z-index: 11; display:none;}
.uploadPic_btn_box .btn_upload{padding-left:20px; color:#fff; margin-right:15px; overflow:hidden; float:right; cursor:pointer; position:relative;}
.uploadPicBtn{background:url("/static/img/icon_upload.png") left center no-repeat; width:76px;}
.uploadPicBtn_del{background:url("/static/img/icon_del.png") left center no-repeat;}


